<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">
            Reset Password
            <span class="panel-subtitle">Reset User password</span>
          </div>
          <div class="panel-body">
            <div class="panel-heading panel-heading-no-divider">
              <app-section-header></app-section-header>
            </div>
            <form
              class="row form-horizontal"
              [formGroup]="userForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="col-md-8">
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label"
                      >Email<span class="text-danger">*</span></label
                    >
                    <div class="col-sm-7">
                      <input
                        id="Name"
                        autocomplete="off"
                        class="form-control"
                        formControlName="email"
                        type="text"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('email').invalid &&
                          userForm.get('email').touched &&
                          userForm.get('email').errors['required']
                        "
                        >Email is required</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('email').invalid &&
                          userForm.get('email').touched &&
                          userForm.get('email').errors['pattern']
                        "
                        >Email is not valid</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-11">
                <button
                  type="submit"
                  id="Save"
                  class="btn btn-primary pull-right"
                >
                  <i class="fa fa-save"> Save</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
