<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">
            {{ token ? 'Reset' : 'Change' }} Password

            <span class="panel-subtitle">
              {{ token ? 'Reset' : 'Change' }} User Password</span
            >
          </div>
          <div class="panel-body">
            <div class="panel-heading panel-heading-no-divider">
              <app-section-header></app-section-header>
            </div>
            <form
              class="row form-horizontal"
              [formGroup]="userForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <div *ngIf="isReset == 'False'" class="row">
                    <label class="col-sm-3 control-label">
                      Old Password<span class="text-danger">*</span></label
                    >
                    <div class="col-sm-7">
                      <input
                        formControlName="oldPwd"
                        id="oldPwd"
                        type="password"
                        class="form-control"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('oldPwd').invalid &&
                          userForm.get('oldPwd').touched &&
                          userForm.get('oldPwd').errors['required']
                        "
                        >Old Password is required</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('oldPwd').invalid &&
                          userForm.get('oldPwd').touched &&
                          userForm.get('oldPwd').errors['pattern']
                        "
                      >
                        <ul>
                          Please add a strong password with the following
                          criteria:
                          <li>Minimum digits=6 and maximum=12</li>
                          <li>
                            Must contain one capital and one small character
                          </li>
                          <li>Must contain at least One numeric.</li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label">
                      New Password<span class="text-danger">*</span></label
                    >
                    <div class="col-sm-7">
                      <input
                        formControlName="newPwd"
                        id="newPwd"
                        type="password"
                        class="form-control"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('newPwd').invalid &&
                          userForm.get('newPwd').touched &&
                          userForm.get('newPwd').errors['required']
                        "
                        >New Password is required</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('newPwd').invalid &&
                          userForm.get('newPwd').touched &&
                          userForm.get('newPwd').errors['pattern']
                        "
                      >
                        <ul>
                          Please add a strong password with the following
                          criteria:
                          <li>Minimum digits=6 and maximum=12</li>
                          <li>
                            Must contain one capital and one small character
                          </li>
                          <li>Must contain at least One numeric.</li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label">
                      Confirm Password<span class="text-danger">*</span></label
                    >
                    <div class="col-sm-7">
                      <input
                        formControlName="confirmPwd"
                        id="confirmPwd"
                        type="password"
                        class="form-control"
                      />
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('confirmPwd').invalid &&
                          userForm.get('confirmPwd').touched &&
                          userForm.get('confirmPwd').errors['required']
                        "
                        >Confirm Password Password is required</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="
                          userForm.get('confirmPwd').invalid &&
                          userForm.get('confirmPwd').touched &&
                          userForm.get('confirmPwd').errors[
                            'confirmedValidator'
                          ]
                        "
                      >
                        Passwords do not match.</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-11">
                <button
                  type="submit"
                  id="Save"
                  class="btn btn-primary pull-right"
                >
                  <i class="fa fa-save"> Save</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
