<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default panel-flat">
              <div class="panel-heading panel-heading-divider">
                {{ inventoryType == 1 ? 'Products' : 'Services' }}
                List<span class="panel-subtitle"
                  >These are list of
                  {{ inventoryType == 1 ? 'Products' : 'Services' }} with
                  Reporting
                </span>
              </div>
              <div class="panel-body">
                <div class="panel-heading panel-heading-no-divider">
                  <app-section-header></app-section-header>
                </div>
                <div class="table-responsive">
                  <div class="col-md-12 form-inline md-form form-sm mt-1">
                    <div class="row g-4 md-form">
                      <div class="col-auto">
                        <i class="fa fa-search active" aria-hidden="true"></i>
                        <input
                          *ngIf="products || services"
                          (keyup)="onSearch()"
                          class="
                            form-control
                            searchbox
                            form-control-sm
                            ml-3
                            w-75
                          "
                          type="text"
                          placeholder="Search"
                          aria-label="Search"
                          #search
                        />
                      </div>
                      <div class="col-auto">
                        <input
                          type="text"
                          placeholder="Create Date From"
                          class="form-control"
                          bsDatepicker
                          #fromDate
                          [bsConfig]="{
                            dateInputFormat: 'DD-MM-YYYY',
                            showClearButton: true,
                            clearPosition: 'right',
                            showTodayButton: true,
                            todayPosition: 'left'
                          }"
                          [bsConfig]="{ isAnimated: true }"
                        />
                      </div>
                      <div class="col-auto">
                        <input
                          type="text"
                          placeholder="Create Date To"
                          class="form-control"
                          bsDatepicker
                          #toDate
                          [bsConfig]="{
                            dateInputFormat: 'DD-MM-YYYY',
                            showClearButton: true,
                            clearPosition: 'right',
                            showTodayButton: true,
                            todayPosition: 'left'
                          }"
                          [bsConfig]="{ isAnimated: true }"
                        />
                      </div>

                      <div class="col-auto">
                        <ng-select
                          class="category"
                          [items]="categories"
                          bindLabel="name"
                          appendTo="body"
                          placeholder="Category"
                          (change)="onCategoryChanged($event)"
                        >
                        </ng-select>
                      </div>
                      <div class="col-auto">
                        <button
                          (click)="onFilter()"
                          class="btn btn-primary mb-3"
                        >
                          <i class="fa fa-filter"></i> Filter
                        </button>
                      </div>
                      <div class="col-auto"></div>
                      <div class="col-auto"></div>

                      <div class="col-auto mt-2">
                        <a
                          *hasClaim="[
                            'Inventory:Add Product',
                            'Inventory:Add Service'
                          ]"
                          routerLink="/{{
                            inventoryType == 1 ? 'product' : 'service'
                          }}/add"
                          class="action-button"
                        >
                          <i class="fa fa-plus"></i> Add New
                          {{ inventoryType == 1 ? 'Product' : 'Service' }}</a
                        >
                      </div>
                    </div>
                  </div>
                  <br />
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th *ngIf="inventoryType == 1">Code</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th *ngIf="inventoryType == 1">Inbound</th>
                        <th *ngIf="inventoryType == 1">Outbound</th>
                        <th *ngIf="inventoryType == 1">Stock</th>
                        <th>created By</th>
                        <th>Creation Date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let item of inventoryType == 1 ? products : services
                        "
                      >
                        <td>
                          {{ item.id }}
                        </td>
                        <td>
                          {{
                            inventoryType == 1 ? item.productName : item.name
                          }}
                        </td>
                        <td *ngIf="inventoryType == 1">
                          {{ item.code }}
                        </td>
                        <td>
                          {{ item.categoryName }}
                        </td>
                        <td>{{ item.description }}</td>
                        <td *ngIf="inventoryType == 1">{{ item.inbound }}</td>
                        <td *ngIf="inventoryType == 1">{{ item.outbound }}</td>
                        <td *ngIf="inventoryType == 1">{{ item.stock }}</td>
                        <td>{{ item.createdBy }}</td>
                        <td>{{ item.createDate | date }}</td>

                        <td>
                          <a
                            *hasClaim="[
                              'Inventory:Delete Product',
                              'Inventory:Delete Service'
                            ]"
                            (click)="openDeleteModal(deletetemplate)"
                            class="action-button"
                          >
                            <i class="fa fa-trash"></i
                          ></a>

                          <ng-template #deletetemplate>
                            <div class="modal-header">
                              <h4 class="modal-title pull-left">
                                Delete
                                {{ inventoryType == 1 ? 'Product' : 'Service' }}
                              </h4>
                              <button
                                type="button"
                                class="close pull-right"
                                aria-label="Close"
                                (click)="deletemodalRef.hide()"
                              >
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h5 class="delete">
                                Are you sure you want to delete this
                                {{ inventoryType == 1 ? 'product' : 'service' }}
                                ?
                              </h5>
                              <button
                                (click)="deleteInventory(item.id)"
                                class="btn btn-primary mb-3 pull-right"
                              >
                                <i class="fa fa-trash"></i>
                                Yes
                              </button>
                            </div>
                          </ng-template>
                          <span *hasClaim="'Inventory:Edit Product'">
                            <a
                              [routerLink]="['/product/edit/' + item.id]"
                              *ngIf="inventoryType == 1"
                              class="action-button"
                            >
                              <i class="fa fa-edit"></i
                            ></a>
                          </span>
                          <span *hasClaim="'Inventory:Edit Service'">
                            <a
                              [routerLink]="['/service/edit/' + item.id]"
                              *ngIf="inventoryType == 2"
                              class="action-button"
                            >
                              <i class="fa fa-edit"></i
                            ></a>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row m-2 pull-right">
                    <button (click)="Export()" class="btn btn-primary">
                      <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                      Export
                    </button>
                  </div>
                </div>
                <div class="xs-mb-50 xs-mt-40 pull-right">
                  <app-pager
                    [pageSize]="inventoryParams.pageSize"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)"
                  ></app-pager>
                </div>
                <div class="xs-mb-50 xs-mt-40 pull-left">
                  <app-paging-header
                    [pageNumber]="this.inventoryParams.pageNumber"
                    [pageSize]="this.inventoryParams.pageSize"
                    [totalCount]="totalCount"
                  ></app-paging-header>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
