.value {
  color: darkgray;
}

.badge {
  font-size: 16px;
  margin-top: 5px;
}

.action-button {
  margin-right: 10px;
  color: #007bff !important;
  cursor: pointer;
  font-size: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.actions {
  padding-left: 60px;
}

.permission {
  display: flex;
}
.roleName {
  color: #1f6b9e;
}
.edit {
  margin-right: 450px;
}
